*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #087401;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: start;

}
h1{
    color:#f4ff15;
    margin-left: 60px;
    margin-top: 30px

}
input{
    background-color: #9cf500;
    border-radius: 20px;
}

    
button{
    background-color: #f4ff15;
    padding: 10px;
    margin-left: 90px;
    border-radius: 15px;
    margin-top: 20px;
    

}
.form-group{
    padding: 10px;

}
.kk{
    margin-left: 8px;
}


