body{
    background-color: #087401;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: start;
}
h1{
   color: #f4ff15; 
   margin-left: 60px;

}
input{
    background-color: #f4ff15;
    border-radius: 15px;
    margin-top: 20px;

}
.kjkj{
    margin-left: 80px;
    padding-left: 10px;
    


}
button{
    margin-left: 100px;
    background-color: #f4ff15;
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px
    
    
}
